.pelatihan-section {
    position: relative;
    background-image: url('pelatihan.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    color: white;
    text-align: center;
}

.pelatihan-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; 
}

.pelatihan-section .container {
    position: relative;
    z-index: 1;
}

.pelatihan-section h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff; 

    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); 
}

.pelatihan-section p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.4rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.pelatihan-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.pelatihan-section ul li {
    margin-bottom: 15px;
    width: 90%; 
    max-width: 600px;
}

.pelatihan-section ul li a {
    display: block;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    color: #00bcd4;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.pelatihan-section ul li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    transform: translateY(-5px); 
}
